/**************** Fonts ****************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Forum);

@font-face {    
	font-family: Monaco;    
	src: url('/res/monaco-webfont.eot');
	src: url('/res/monaco-webfont.eot?#iefix') format('embedded-opentype'),         
		url('/res/monaco-webfont.woff') format('woff'),
		url('/res/monaco-webfont.ttf') format('truetype'),     
		url('/res/monaco-webfont.svg#monacoregular') format('svg');
}

h1 {
	margin: 20px 0 20px 0;
}

h2 {
	margin: 0;
	padding: 0;
}

a {
	color: #33adad;
	text-decoration: none;
}

a:hover {
	color: #118a8a;
}


/**************** Layout ****************/

body {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	background: #81eae7;
		background: -moz-linear-gradient(top,  #81eae7 0%, #1c5f8c 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81eae7), color-stop(100%,#1c5f8c));
		background: -webkit-linear-gradient(top,  #81eae7 0%,#1c5f8c 100%);
		background: -o-linear-gradient(top,  #81eae7 0%,#1c5f8c 100%);
		background: -ms-linear-gradient(top,  #81eae7 0%,#1c5f8c 100%);
		background: linear-gradient(to bottom,  #81eae7 0%,#1c5f8c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81eae7', endColorstr='#1c5f8c',GradientType=0 );
		background-attachment: fixed;
}

.wrapper {
	clear: both;
	overflow: auto;
	margin-bottom: 25px;
	box-shadow: 0 2px 40px 20px rgba(0,0,0,0.1);
}

	.title {
		font-family: Forum;
		color: rgba(0,0,0,0.6);
	}

	.title:hover {
		text-decoration: none;
	}

.toolbar {
	height: 48px;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: rgba(0,0,0,0.5);
}

	.toolbarItem {
		margin-left: 20px;
		color: #fff;
	}
	
	.toolbarItem:hover {
		color: #33adad;
		text-decoration: none;
	}

.pageTitle {
	text-align: center;
	font-size: 1.5em;
}

.postsContainer {
	background: #fff;
}

	.post {
		padding: 30px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

		.postTitle {
			display: block;
			margin: -8px 0 0 0;
			color: #444;
			font-size: 1.7em;
		}

		.postTitle a: hover {

		}

		.authorDate {
			color: #aaa;
		}

		.postImage {
			width: 530px;
			display: block;
			margin: 15px auto 15px auto;
		}

		.post p {
			margin: 5px 0px 15px 0px;
		}

		.footnote {
			font-size: 0.9em;
			font-style: italic;
			color: #666;
		}

		.postFooter {
			border-bottom: 1px solid #ccc;
		}
		
		.feedFooter {
			text-align: center;
			margin-bottom: 25px;
		}

.button {
	border: solid 2px;
	padding: 5px;
	text-transform: uppercase;
}