body {
  font-family: Helvetica, Arial;
  color: #444;
  background: #81eae7;
  background: -moz-linear-gradient(top, #81eae7 0%, #1c5f8c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #81eae7), color-stop(100%, #1c5f8c));
  background: -webkit-linear-gradient(top, #81eae7 0%, #1c5f8c 100%);
  background: -o-linear-gradient(top, #81eae7 0%, #1c5f8c 100%);
  background: -ms-linear-gradient(top, #81eae7 0%, #1c5f8c 100%);
  background: linear-gradient(to bottom, #81eae7 0%, #1c5f8c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81eae7', endColorstr='#1c5f8c',GradientType=0 );
  background-attachment: fixed; }

a {
  color: #7ac; }

h2 {
  font-size: 1em; }

.outerWrapper {
  max-width: 640px;
  margin: 0 auto 100px auto; }
  .outerWrapper .wrapper {
    margin: auto;
    padding: 25px;
    background: #fff;
    box-shadow: 0 2px 40px 20px rgba(0, 0, 0, 0.1); }

.heading {
  font-size: 2.4em;
  color: white;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 100px; }

.newPostForm {
  margin: 0; }
  .newPostForm input, .newPostForm textarea {
    display: block; }
  .newPostForm textarea {
    width: 100%;
    border: solid 2px #7ac; }
  .newPostForm .small {
    display: inline-block;
    border: none;
    width: 120px; }
  .newPostForm input[name=title] {
    padding: 5px 5px 5px 0;
    font-size: 1.4em;
    border: none; }

input[type=submit] {
  width: 200px;
  margin-top: 20px;
  padding: 5px;
  color: #7ac;
  font-size: 1.2em;
  text-transform: uppercase;
  border: solid 2px #7ac;
  background: none; }

form#login {
  width: 200px;
  text-align: center;
  margin: 20px auto 20px auto; }

form#login input {
  width: 100%;
  font-size: 1em;
  border: solid 2px #7ac;
  padding: 5px;
  box-sizing: border-box; }

.post {
  margin: 20px 20px 60px 20px;
  display: block; }
  .post .postTitle {
    font-size: 1.3em;
    font-weight: 400; }
  .post a {
    text-decoration: none; }

.postFooter {
  background: #7ac;
  padding: 5px;
  clear: both;
  color: white; }
  .postFooter a {
    color: white; }

.button {
  float: right;
  padding: 5px;
  margin: -5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #7ac; }
  .button:hover {
    color: #ddd; }

.backLink {
  position: relative;
  top: 10px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }
